h1 {
    color: white;
}

/* * {
    border: solid;
} */

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    background-image: url('img_girl.jpg');
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
    background-image: url('https://thumbs.dreamstime.com/b/spring-flowers-blue-crocuses-drops-water-backgro-background-tracks-rain-113784722.jpg');
    background-size: 350px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: rgb(9, 138, 4);
    background-color: rgb(163, 224, 248);
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    color: rgb(255, 255, 255);
}